// ***************** remove all styling for all browsers *******************// 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// ***************** end of removing all styles *******************// 
// ***************** fonts and imports ****************************//

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

$title-font: 'Abril Fatface', cursive;
$normal-font: 'Open Sans', sans-serif;
$background-container-color: #ececec;
$title-font-color: #423c44;
$font-main-color: #444343;
$top-nav-background: rgb(202, 202, 202);
$box-hover:  rgb(196, 196, 196);

// ***************** end of fonts and imports ****************************//
// ***************** declare global styles *******************************//
h1 {
    font-family: $title-font-color;
    font-size: 30px;
    letter-spacing: 2px;
    color: $title-font-color;
}
h2 {
    font-family: $normal-font;
    letter-spacing: 1px;
    font-weight: 400;
}
h3 {
    font-family: $normal-font;
    letter-spacing: .5px;
}
h4 {
    font-family: $normal-font;
}

html {
    --scrollbarBG: rgb(202, 202, 202);
    --thumbBG: #423c44;
    ::-webkit-scrollbar {
        width: 11px;
    }
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    ::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG) ;
        border-radius: 6px;
        border: 3px solid var(--scrollbarBG);
    }
}

$box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.404);

// ******************* global classes ********************** //
// center content using flex - vertical and horizontal -
%center-things-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

// place buttons on bottom right of screen
%button-position {
    @extend %center-things-flex;
    box-shadow: $box-shadow;
    position: absolute;
    bottom: 40px;
    right: 40px;
    width: 100px;
    height: 40px;
    background-color: $title-font-color;
    text-decoration: none;
    color: $top-nav-background;
    border-radius: .4rem;
}
%button-position:hover {
    background-color: $font-main-color;
}

// overall container for each page
%container-style {
    width: 100vw;
    height: 100vh;
    display: grid;
    overflow-x: hidden;
    grid-template-rows: 60px auto;
    grid-template-areas: 
    "nav"
    "content";
    .nav {
        grid-area: nav;
        background-color: $top-nav-background;
        color: $background-container-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content {
        grid-area: content;
        background-color: $background-container-color;
        color: $font-main-color;
        display: flex;
        justify-content: center;
    }
}

// the array where all of the displayed articles arrive
%articles-array-container {
    width: 50vw;
}

// each individual article
%single-article-container {
    background-color: $top-nav-background;
    box-shadow: $box-shadow;
    text-decoration: none;
    margin: 20px 0 20px 0;
    padding: 20px;
    border-radius: 1rem;
    .singleArticleTitle {
        text-align: center;
        font-weight: 600;
        margin-bottom: 5px;
        color: $font-main-color;
    }
    .singleArticleSummary {
        color: $font-main-color;
    }
    .singleArticleAuthor {
        margin-top: 10px;
        font-weight: 400;
        color: $font-main-color;
    }
}
%single-article-container:hover {
    background-color: $box-hover;
}   


// ***************** home stlye ***************************************//
.homeOverallContainer{
    @extend %container-style;
    .articleDisplayContainer {
        @extend %articles-array-container;
    }
    .linkStyle {
        text-decoration: none;
        .singleArticleContainer {
            @extend %single-article-container;
        }
    }
}

// ********************** Full Article ********************************//
.fullArticleContainer {
    @extend %container-style;
    .fullArticleTitle {
        margin-top: 10px;
        text-align: center;
    }
    .fullArticleAuthorBox {
        @extend %center-things-flex;
        margin: 20px;
        .fullArticleName {
            margin-right: 40px;
        }
    }
    .fullArticleText {
        max-width: 90vw;
        text-align: justify;
    }
    .linkContainer {
        @extend %button-position;
    }
}

// ********************** Nav *******************************************//

